body{
    background: #eef0f3;

}
#img1{
    position: relative;
    height: 120px;
    width: 600px;
    bottom: 160px;
}

.iss1{
    position: relative;
    justify-content: center;
    text-align: center;
    height: 602px;
    width: 602px;
    margin-top: 120px;
    border-radius: 8px;
    background: #8f939b;
    top: 50px;
}
.iss2{
    position: relative;
    justify-content: center;
    text-align: center;
    left: 1px;
    top: 1px;
    width: 600px;
    height: 600px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fdfdfd;

}
.ktiba1{
    position: relative;
    top:-450px;
    font-size: 30px;
    color: #171818;
    margin-left: 30px;
    font-family: monospace;
}
.text1{
    position: relative;
    height: 70px;
    width: 425px;
    margin-top: 40px;
    top: -420px;
    border-width: 1px;
    border-color: rgba(143, 147, 155, 0.8);
    border-radius: 8px;
    font-size: 25px;
    outline-color: #0866fd;
    outline-width: 1px;
}
#str{
    position: relative;
    top: -270px;
    color: #8f939b;
    width: 480px;
}
#log{
    position: relative;
    height: 70px;
    width: 425px;
    margin-top: 10px;
    top: -410px;
    border: none;
    border-radius: 8px;
    background: #0866fd;
    color: white;
    font-size: 25px;
}
.ktiba2{
    position: relative;
    font-size: 20px;
    color: #0866fd;
    height: 50px;
    width: 200px;
    top: -320px;
    margin-left: 190px;
}
#log1{
    position: relative;
    height: 70px;
    width: 300px;
    margin-top: 10px;
    top: -380px;
    border: none;
    border-radius: 8px;
    background: #42b62a;
    color: white;
    font-size: 25px;
}
#email:hover{
    border-color: #0866fd;
}
#pass:hover{
    border-color: #0866fd;
}
.ktiba3{
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 100px;
}
.po{
    position: relative;
    top: 300px;
}
