@font-face{font-family:"ar";src:url(/gitfile/DATA/font.woff/null/null/null)}
*{
    font-family:ar !important;
    margin: 0;
    padding: 0;
}
.form{
    position: relative;
    width: 1000px;
    height: auto;
    background-color: rgb(30, 30, 30);
    margin: 25px auto 25px auto;
    border-radius: 30px;
    padding-bottom: 50px;
}
.divT{
    position: relative;
    width: 95%;
    height: 60px;
    background: rgb(0, 0, 0);
    margin: 15px auto 35px auto;
    border-radius: 20px;
    top: 20px;
    display: flex;
}
h1{
    position: relative;
    width: 190px;
    height: 50px;
    color: aliceblue;
    top: 0px;
}
#ledF{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    transform: translate(155px , -25px);
    transition: 300ms;
}
pre{
    display: flex;
    font-size: 40px;
}
pre h6{
    font-size: 40px;
    animation: dz 1s alternate infinite;
}
@keyframes dz{
    0%{transform: rotate(-30deg);}
    100%{transform: rotate(30deg);}
}
#F{
    margin-left: 20px;
    background: rgb(62, 62, 62);
    padding: 5px 25px 0 10px;
    top: 2px;
    border-radius: 15px;
    font-size: 40px;
}
.uesr{
    position: relative;
    width: 95%;
    height: 200px;
    background: rgb(8, 8, 8);
    border-radius: 30px;
    margin: 5px auto 5px auto;
    transition: 1500ms;
    overflow: hidden;
}
.uesr h1{
    position: relative;
    margin-left: 60px;
    margin-top: 25px;
    font-size: 40px;
    letter-spacing: 5px;
}
.uesr h2{
    position: relative;
    margin-left: 80px;
    margin-top: 5px;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    top: -5px;
    letter-spacing: 3px;
}
.rus{
    position: relative;
    width: auto;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 0px 10px 0 10px;
    bottom: 10px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    margin: 5px 0 5px 0;
    margin-left: 20px;
}
.it{
    position: relative;
    font-size: 60px;
    font-weight: bold;
    color: aliceblue;
    left: 40%;
}
.btn{
    background: rgb(0, 176, 12);
    height: 50px;
    width: auto;
    margin: 5px 20px 0 10px;
    border-radius: 10px;
    font-size: 30px;
    padding:  0 15px 0 15px;
}
#b3{
    position: relative;
    background-color: rgb(55, 115, 255);
    top: 5px;
    margin:0 100px 0 0px;
    transition: 500ms;
}

*{font-weight: 100;}